/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}
body {
  color: #90b9c3;
  background: #33ffff;
  background: -webkit-linear-gradient(left, #33ffff, #33ff66);
  background: -moz-linear-gradient(left, #33ffff, #33ff66);
  background: -ms-linear-gradient(left, #33ffff, #33ff66);
  background: -o-linear-gradient(left, #33ffff, #33ff66);
  background: linear-gradient(to right, #33ffff, #33ff66);  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: black;
  font-size: 1.6em;
  margin-bottom: 1.25em;
  position: relative;
  left: 40%;
  font-family: Times New Roman;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #3b80d1;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* FORM & BUTTON STYLES -------- */

.home a,
input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
}

p {
  text-align: center;
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.container {
  width: 100%;
  max-width: 780px;
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: #ffffffad;
  border-radius: .5em;
  -webkit-box-shadow: 0 3px rgba(0,0,0, .1);
  box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
  padding-left:0px;
  padding-right:0px;
  margin-bottom: -30px;

}



.teacher {
  width: 48.73%;
  margin-bottom: 1.5em;
  border: 5px solid white;
  

}
header {
  background: #edeff0;
  margin-bottom: 2em;
  margin-bottom: 0px;
}
.main-content {
  padding: 1em 2em;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.course {
  margin-bottom: 1em;
}

/* IMAGES -------- */

.course-img {
  width: 70px;
}
.teacher-img {
  width: 100%;
  border-radius: .3em;
}
.not-found {
  text-align: center;
}

/* MAIN NAV -------- */

.main-nav a {
  font-size: .95em;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  transition: .2s;
}
.main-nav a:hover,
.main-nav .active {
  color: black;
  background: #6edcd1;
}

/* COURSE NAV -------- */

.course-nav li {
  display: inline-block;
}
.course-nav li + li {
  margin-left: .6em;
}
.course-nav a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
}
.course-nav a:hover,
.course-nav a.active {
  color: #fff;
  background: #39add1;
}

/* ICONS -------- */

.icn-logo {
  background: #6edcd1;
  color: #fff;
}
.icn-logo i {
  font-size: 2.45em;
  line-height: 0;
  margin-top: 30px;
}
.icn-error {
  font-size: 3.2em;
  margin-bottom: .25em;
}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) { 
  body {
    padding-top: .8em;
  }
 
  
  .home a {
    border-color: transparent;
  }
   .icn-logo {
     display: block;
     width: 100%;
     text-align: center;
     padding-bottom: 4px;
   }
   .main-nav a {
     border-top: 2px solid transparent;
     border-bottom: 2px solid transparent;
   }
   .main-nav a:hover {
     border-color: rgba(0,0,0, .1);
   }
   .courses h2 {
     margin-bottom: 0;
   }
   .course-nav {
     display: block;
     margin: 1.5em 0 3.2em;
   }
   .home a,
   input,
   button {
     display: block;
     width: 100%;
     margin-bottom: 1em;
   }
}
@media (min-width: 769px) {
  body {
    padding-top: 3em;
  }
  .home a {
    border-color: #3b80d1;
  }
  .media img,
  .media > div,
  .teacher {
    float: left;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  } 
  .teacher {
    width: 48.73%;
    margin-bottom: 1.5em;
  }
  .teacher + .teacher {
    margin-left: 2.54%;
  }
  .teacher:nth-child(2n+3) {
    clear: left;
    margin-left: 0;
  }
  /* MAIN NAV -------- */
  .icn-logo {
    margin-right: auto;
    padding: 0 2em;
  }
  header,
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 1.25em 1.5em;
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }
  /* COURSE NAV -------- */
  .course-nav {
    float: right;
  } 
  .courses h2 {
    float: left;
  }
}

.about{
font-size: 19px;
color: black;
width: 50%;
margin: auto;
width: 60%;

}

a.email {
  padding: 8px 12px;
  font-family: Helvetica Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px solid 	#a04998;
  border-radius: 6px;
  transition: all .5s;
  background-color: #6edcd1;;
   margin-right: 35%;
  margin-left: 38%;
  width: 20%;
  text-align: center;
 
 margin-top: 20px;
}

.email:hover {
  border-color: #002746;
  -webkit-animation: zoom-in-out 2s linear 0s infinite normal ;
  animation: zoom-in-out 2s linear 0s infinite normal ;
}

.email:active {
  color: aqua;
  background-color: #3e8e41;
  box-shadow: inset 10px 10px 5px #888888,
                    inset -10px -10px 5px #888888;
    transform: translateY(4px);
}

a.email:hover {
  padding: 8px 12px;
  font-family: Helvetica Arial, sans-serif;
  font-size: 14px;
  color: #a04998;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px solid #a04998;
  border-radius: 6px;
  transition: all .5s;
  background-color: #5cdb94;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
  float: left;
}

a.linkedin {
  background-image: url(./linkedin.svg);
  border: none;

}
a.github {
  background-image: url(./github.svg);
  border: none;
}

a.sololearn {
  background-image: url(https://code.sololearn.com/Icons/Avatars/1.jpg);
  border: none;
}

a.SO {
  background-image: url(https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.svg?v=f13ebeedfa9e);
  border: none;
}

a.social:hover {
  opacity: 1;
}

ul.skills {
  padding: 0;
  text-align: center;
}

#root > div > div > ul > li> p:nth-child(6) {
  border-radius: 6px;
  display: inline-block;
  background: black;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

#root > div > div > ul > li> p:nth-child(6){
  background: #960088db;
}


a.link {
  padding: 8px 12px;
    font-family: Helvetica Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border-bottom: 4px solid #a04998;
    border-radius: 6px;
    background-color: #6edcd1;
    margin-left: 20%;
    text-align: center;
    margin: 5%;

}

a.link:hover{
  -webkit-animation: jump 5s ease 0s infinite normal ;
    animation: jump 5s ease 0s infinite normal ;
}




.link:hover {
  border-color: #002746
}

.link:active {
  color: aqua;
  background-color: #3e8e41;
  box-shadow: inset 10px 10px 5px #888888,
                    inset -10px -10px 5px #888888;
    transform: translateY(4px);
}

a.link:hover {
  padding: 8px 12px;
  font-family: Helvetica Arial, sans-serif;
  font-size: 14px;
  color: #a04998;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px solid #a04998;
  border-radius: 6px;
  transition: all .5s;
  background-color: #5cdb94;
}

a.code {
  padding: 8px 12px;
    font-family: Helvetica Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border-bottom: 4px solid #a04998;
    border-radius: 6px;
    background-color: #6edcd1;
    text-align: center;
    margin: 5%;

}
a.code:hover{
  -webkit-animation: jump s ease 5s infinite normal ;
  animation: jump 0s ease 5s infinite normal ;
}

a.link:hover,a.code:hover {
  border-color: #002746;
  -webkit-animation: jump 0s ease 5s infinite normal ;
  animation: jump 0s ease 5s infinite normal ;
}

.code:active {
  color: aqua;
  background-color: #3e8e41;
  box-shadow: inset 10px 10px 5px #888888,
                    inset -10px -10px 5px #888888;
    transform: translateY(4px);
}


/* Project title */
#root > div > div > ul > li > h3{
  position: relative;
  left: 0px;
  top: -18px;
  transition: none 0s ease 0s;
  cursor: move;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color:black;
}
/* Projects Header */
#root > div > div > h2 {
  margin-left: auto;
}
/* About me picture */
#root > div > div > img {
border-radius: 25px;
width: 75%;
margin-left: 15%;
}

.description{
  position: relative;
  left: 234px;
  top: -68px;
  }

@-webkit-keyframes zoom-in-out {
  0%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-30px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}

@media (min-width: 0) and (max-width: 768px) { 
  body {
    padding-top: .8em;
  }
  #root > div > div > img {
    border-radius: 25px;
    width: 100%;
    
  }
  a.email{
    width: 30%;
  }
}

#root > div > div > ul > li:nth-child(6) > a.link.code{ 
    width: 50%;
    margin-left: 25%;
}

#root > div > div > ul > li:nth-child(6) > a:nth-child(3) > h3,
#root > div > div > ul > li:nth-child(6) > a:nth-child(3){
  display:none;
}

#root > div > div > ul > li > p{
  color: black;
  background-color: #33fff142;
  border-radius: 20px;
}
/* SMall Screens */
@media only screen and (max-width: 600px) {
  #root > div > div > img {
    border-radius: 25px;
    width: 75%;
    margin-left: 10%;
}

.main-content {
  padding: 0;
}
.description{
  position: relative;
  left: 25%;
  top: -50px;
  }
.teacher,.main-content{
  width: 100%
}


#root > div > div > div > img {
  width: 15%;
  margin-left: 40%;
}

.about {
  font-size: 19px;
  color: black;
  width: 100%;
  margin: auto;
}
}


#root > div > div > div > img{
  width: 10%;
  margin-left: 45%;
}

.description{
  color: black;
}
#root > div > div > ul > li> p:nth-child(6) {
  background: #6edcd1;
  background: 1p solid purple;
  border: 1px solid purple;
}
#root > div > div > ul > li > p {
  color: black;
   background-color:#33fff100;
  border-radius: 20px;
}

p,h3{
  color: black;
}

#root > div > div > h2 {
  margin-left: 43%;
  /* Reset left px */
  left: 0px;
}

.intro{
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(92,77,66,.8)),to(rgba(92,77,66,.8))),url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width:  100%;
  margin-bottom: 0px;
}
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  
 
}

hr.divider {
  max-width: 3.25rem;
  border-width: .2rem;
  border-color: #f4623a;
}



.text-white-75 {
    color: rgba(255,255,255,.75);
}
.font-weight-light {
    font-weight: 300!important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f24516;
  border-color: #ee3e0d;
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}
a:hover {
  color: #d6370c;
  text-decoration: underline;
}
.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: .85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 45.5%;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.fa-gem:before {
  content: "\f3a5";
}

.fixComputer {
  background-image: url(https://res.cloudinary.com/dvqyek3sb/image/upload/v1558893403/fixComputer_hn971p.svg);
  display: inline-block;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 20px;

}
.mobileFirst{
  background-image: url(https://image.flaticon.com/icons/svg/1055/1055672.svg);
  display: inline-block;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  display: inline-block;
    font-size: 10px;

}
.intuitive{
  background-image: url(https://image.flaticon.com/icons/svg/201/201651.svg);
  display: inline-block;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 20px;
}

.floatLeft {
  float: left;
  margin: auto;
  width: 15%;
  font-size: 10px;
}
.floatRight{
  float: right
}
.text-muted{
  font-size: px;
}

#root > div > div > div:nth-child(2) > div > div{
  flex: none;
  max-width: none;
}

#root > div > div > div:nth-child(2) > div > div > a{
  margin-top: 5%;
  background-color: #ff757c;
}

#root > div > div > div.container.h-100.intro > div > div.col-lg-10.align-self-end > h5:nth-child(1) > i{
  color: #f24516
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
  margin: 5px 2.5px;
}

.main-content {
  padding: 0px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  width: 30%;
  float: left;
  margin: 20px 5px;
  background-color: #ff757c7a !important;
  border: none;
  border-radius: 20px
  
}

.card-body:hover{

  -webkit-animation: jump 1.5s ease 0s 1 normal ;
  animation: jump 1.5s ease 0s 1 normal ;
}
@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-30px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}