/* ================================= 
  WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

* {
  box-sizing: border-box;
}
body {
  color: #90b9c3;
  background: #33ffff;
  background: -webkit-linear-gradient(left, #33ffff, #33ff66);
  background: -moz-linear-gradient(left, #33ffff, #33ff66);
  background: -ms-linear-gradient(left, #33ffff, #33ff66);
  background: -o-linear-gradient(left, #33ffff, #33ff66);
  background: linear-gradient(to right, #33ffff, #33ff66);  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: black;
  font-size: 1.6em;
  margin-bottom: 1.25em;
  position: relative;
  left: 40%;
  font-family: Times New Roman;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #3b80d1;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

/* FORM & BUTTON STYLES -------- */

.home a,
input,
button {
  padding: .5em;
  font-size: .9em;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  border: solid 1px #ccc;
  outline: none;
}
button {
  color: white;
  background: #4188dc;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-color: rgba(0,0,0, .1);
}

p {
  text-align: center;
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */

.container {
  width: 95%;
  max-width: 780px;
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: #fff;
  border-radius: .5em;
  box-shadow: 0 3px rgba(0,0,0, .1);
  overflow: hidden;
}
header {
  background: #edeff0;
  margin-bottom: 2em;
}
.main-content {
  padding: 1em 2em;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.course {
  margin-bottom: 1em;
}

/* IMAGES -------- */

.course-img {
  width: 70px;
}
.teacher-img {
  width: 100%;
  border-radius: .3em;
}
.not-found {
  text-align: center;
}

/* MAIN NAV -------- */

.main-nav a {
  font-size: .95em;
  color: #222;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 1em;
  transition: .2s;
}
.main-nav a:hover,
.main-nav .active {
  color: black;
  background: #6edcd1;
}

/* COURSE NAV -------- */

.course-nav li {
  display: inline-block;
}
.course-nav li + li {
  margin-left: .6em;
}
.course-nav a {
  font-size: .85em;
  color: #7d7d7d;
  padding: .2em .8em;
  border-radius: .25em;
  background: #eaebeb;
  transition: .2s;
}
.course-nav a:hover,
.course-nav a.active {
  color: #fff;
  background: #39add1;
}

/* ICONS -------- */

.icn-logo {
  background: #6edcd1;
  color: #fff;
}
.icn-logo i {
  font-size: 2.45em;
  line-height: 0;
  margin-top: 30px;
}
.icn-error {
  font-size: 3.2em;
  margin-bottom: .25em;
}

/* ================================= 
  MEDIA QUERIES
==================================== */

@media (min-width: 0) and (max-width: 768px) { 
  body {
    padding-top: .8em;
  }
 
  
  .home a {
    border-color: transparent;
  }
   .icn-logo {
     display: block;
     width: 100%;
     text-align: center;
     padding-bottom: 4px;
   }
   .main-nav a {
     border-top: 2px solid transparent;
     border-bottom: 2px solid transparent;
   }
   .main-nav a:hover {
     border-color: rgba(0,0,0, .1);
   }
   .courses h2 {
     margin-bottom: 0;
   }
   .course-nav {
     display: block;
     margin: 1.5em 0 3.2em;
   }
   .home a,
   input,
   button {
     display: block;
     width: 100%;
     margin-bottom: 1em;
   }
}
@media (min-width: 769px) {
  body {
    padding-top: 3em;
  }
  .home a {
    border-color: #3b80d1;
  }
  .media img,
  .media > div,
  .teacher {
    float: left;
  }
  .media > div {
    width: 85.1%;
    margin-left: 1.5em;
  } 
  .teacher {
    width: 48.73%;
    margin-bottom: 1.5em;
  }
  .teacher + .teacher {
    margin-left: 2.54%;
  }
  .teacher:nth-child(2n+3) {
    clear: left;
    margin-left: 0;
  }
  /* MAIN NAV -------- */
  .icn-logo {
    margin-right: auto;
    padding: 0 2em;
  }
  header,
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav a {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 1.25em 1.5em;
  }
  .main-nav a:hover {
    border-color: rgba(0,0,0, .1);
  }
  /* COURSE NAV -------- */
  .course-nav {
    float: right;
  } 
  .courses h2 {
    float: left;
  }
}

.about{
font-size: 19px;
color: black;
width: 50%;
    margin: auto;

}

a.email {
  padding: 8px 12px;
  font-family: Helvetica Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px solid 	#a04998;
  border-radius: 6px;
  transition: all .5s;
  background-color: #6edcd1;;
   margin-right: 35%;
  margin-left: 38%;
  width: 20%;
  text-align: center;
  -webkit-animation: zoom-in-out 2s linear 5s infinite normal ;
 animation: zoom-in-out 2s linear 5s infinite normal ;
 margin-top: 20px;
}

.email:hover {
  border-color: #002746
}

.email:active {
  color: aqua;
  background-color: #3e8e41;
  box-shadow: inset 10px 10px 5px #888888,
                    inset -10px -10px 5px #888888;
    transform: translateY(4px);
}

a.email:hover {
  padding: 8px 12px;
  font-family: Helvetica Arial, sans-serif;
  font-size: 14px;
  color: #a04998;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px solid #a04998;
  border-radius: 6px;
  transition: all .5s;
  background-color: #5cdb94;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.linkedin {
  background-image: url(./linkedin.svg);
  border: none;

}
a.github {
  background-image: url(./github.svg);
  border: none;
}

a.sololearn {
  background-image: url(https://code.sololearn.com/Icons/Avatars/1.jpg);
  border: none;
}

a.SO {
  background-image: url(https://cdn.sstatic.net/Sites/stackoverflow/company/img/logos/so/so-icon.svg?v=f13ebeedfa9e);
  border: none;
}

a.social:hover {
  opacity: 1;
}

ul.skills {
  padding: 0;
  text-align: center;
}

#root > div > div > ul > li> p:nth-child(6) {
  border-radius: 6px;
  display: inline-block;
  background: black;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

#root > div > div > ul > li> p:nth-child(6){
  background: #960088db;
}


a.link {
  padding: 8px 12px;
    font-family: Helvetica Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border-bottom: 4px solid #a04998;
    border-radius: 6px;
    background-color: #6edcd1;
    margin-left: 20%;
    width: 20%;
    text-align: center;
    
   
    -webkit-animation: jump 5s ease 0s infinite normal ;
    animation: jump 5s ease 0s infinite normal ;
 

}




.link:hover {
  border-color: #002746
}

.link:active {
  color: aqua;
  background-color: #3e8e41;
  box-shadow: inset 10px 10px 5px #888888,
                    inset -10px -10px 5px #888888;
    transform: translateY(4px);
}

a.link:hover {
  padding: 8px 12px;
  font-family: Helvetica Arial, sans-serif;
  font-size: 14px;
  color: #a04998;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px solid #a04998;
  border-radius: 6px;
  transition: all .5s;
  background-color: #5cdb94;
}

a.code {
  padding: 8px 12px;
    font-family: Helvetica Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    border-bottom: 4px solid #a04998;
    border-radius: 6px;
    background-color: #6edcd1;
    margin-left: 20%;
    width: 20%;
    text-align: center;
    
   
    -webkit-animation: jump 5s ease 5s infinite normal ;
    animation: jump 5s ease 5s infinite normal ;
 

}

.link:hover {
  border-color: #002746
}

.code:active {
  color: aqua;
  background-color: #3e8e41;
  box-shadow: inset 10px 10px 5px #888888,
                    inset -10px -10px 5px #888888;
    transform: translateY(4px);
}

a.code:hover {
  padding: 8px 12px;
  font-family: Helvetica Arial, sans-serif;
  font-size: 14px;
  color: #a04998;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px solid #a04998;
  border-radius: 6px;
  transition: all .5s;
  background-color: #5cdb94;
}
/* Project title */
#root > div > div > ul > li > h3{
  position: relative;
  left: 0px;
  top: -18px;
  transition: none 0s ease 0s;
  cursor: move;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color:black;
}
/* Projects Header */
#root > div > div > h2 {
  margin-left: auto;
}
/* About me picture */
#root > div > div > img {
border-radius: 25px;
width: 75%;
margin-left: 15%;
}

@-webkit-keyframes zoom-in-out {
  0%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
}

@-webkit-keyframes jump {
  0%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  20%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  40%{
	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
  }
  50%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  60%{
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
  }
  80%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
  100%{
	-webkit-transform: translateY(0);
	transform: translateY(0);
  }
}

@keyframes jump {
  0%{
	transform: translateY(0);
  }
  20%{
	transform: translateY(0);
  }
  40%{
	transform: translateY(-30px);
  }
  50%{
	transform: translateY(0);
  }
  60%{
	transform: translateY(-15px);
  }
  80%{
	transform: translateY(0);
  }
  100%{
	transform: translateY(0);
  }
}

@media (min-width: 0) and (max-width: 768px) { 
  body {
    padding-top: .8em;
  }
  #root > div > div > img {
    border-radius: 25px;
    width: 100%;
    
  }
  a.email{
    width: 30%;
  }
}

#root > div > div > ul > li:nth-child(6) > a.link.code{ 
    width: 50%;
    margin-left: 25%;
}

#root > div > div > ul > li:nth-child(6) > a:nth-child(3) > h3,
#root > div > div > ul > li:nth-child(6) > a:nth-child(3){
  display:none;
}

#root > div > div > ul > li > p{
  color: black;
  background-color: #33fff142;
  border-radius: 20px;
}